{
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "react/jsx-max-props-per-line": [1, { "maximum": 1 }],
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "eslint.autoFixOnSave": true,
  "editor.codeActionsOnSave": {
    "source.fixAll.tslint": true
  }
}
