div.listing-detail {
  /* background-color: rgba(184, 179, 190, 0.5); */
  background-color: #ffffff;
  overflow-x: hidden;
}

.fa-angle-left-div-lg {
  align-self: center;
}

.fa-angle-left-div {
  align-self: center;
  top: -20px;
}

.fas.fa-angle-left {
  color: #ffffff;
  font-size: 2.25em;
}

div.address {
  /* background-color: rgba(0, 0, 0, 0.82); */
  background: linear-gradient(rgba(0, 64, 133, 0.8), transparent 155%);
}

div.thumbnail-container {
  background: linear-gradient(rgba(0, 64, 133, 0.4), transparent 155%);
}

.address {
  color: #ffffff;
}

p.address {
  margin-bottom: 0;
}

/* img.thumbnail-img:hover {
    transition-timing-function: ease;
    transition: 1s;
    transform: scale(1.1);
} */

ul.listing-details-list {
  list-style: none;
}

li.listing-detail-item {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0.25em;
}

.detail-header {
  padding-right: 0;
  overflow-wrap: unset;
  font-size: 0.9em;
}

.detail {
  color: #008000;
  padding-right: 0;
  padding-left: 0;
  overflow-wrap: unset;
}

.description-container {
  background: rgba(251, 251, 255, 0.22);
  border: 1px solid rgba(0, 0, 0, 0.137);
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.fas.fa-home {
  font-size: 1.5em;
  color: #3a4a7b;
}

p.description-paragraph {
  color: #000000;
}

.inquiry {
  background-color: #758bfd;
  color: #ffffff;
  width: 50%;
  font-size: 1.25em;
}

.blur {
  filter: blur(5px);
}

.thumbnail-img {
  border: 3px solid white;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.total-photos {
  position: relative;
  margin-top: -30px;
  margin-left: 3px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.45);
  width: fit-content;
}

@media (min-width: 1000px) {
  .col-cover-photo {
    padding-right: 0px;
    padding-left: 0px;
  }
  .react-multi-carousel-list {
    padding-right: 0px;
    padding-left: 0px;
  }
  .detail-header {
    font-size: 1.5em;
  }
  .detail {
    font-size: 1.5em;
  }
  .nav-background-black {
    background-color: black;
    width: 100%;
    height: 15vh;
    position: absolute;
    top: 0;
  }
  .col-11.col-lg-5.d-none.d-lg-flex.offset-1 {
    align-items: center;
  }
  .row-address-lg-screen {
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }
  .row-listing-detail {
    margin-left: 0;
    margin-right: 0;
  }
  .row-listing-details-list {
    margin-left: 0;
    margin-right: 0;
  }
  .row-listing-detail-item {
    margin-left: 0;
    margin-right: 0;
  }
  .row.row-listing-detail.m-lg-4 {
    justify-content: space-evenly;
  }
  .listing-detail > .row > .react-multi-carousel-list {
    overflow: unset !important;
  }
}
