.modal-content {
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.3);
  height: auto;
}

.large-photo-row {
  justify-content: center;
}

.large-photo-modal {
  height: 40vh;
}

ul.react-multi-carousel-track {
  height: 20vh;
}

.modal-address {
  color: #000000;
}

.modal-header {
  padding-bottom: 0;
  display: inline-block;
  align-self: flex-end;
}

button.close {
  font-size: 3.5em;
  padding-top: 0 !important;
  padding-bottom: 5px !important;
}

.modal-row {
  background-color: #ffffff;
}

.btn-for-modal {
  width: 100%;
}

.center-modal {
  align-self: center;
}

@media (min-width: 768px) {
  ul.react-multi-carousel-track {
    height: 30vh;
  }
  .pic-modal-body {
    height: 62vh;
  }
}

@media (min-width: 1000px) {
  .header-container-desktop {
    width: 20%;
    position: absolute;
    right: 0;
  }
  .modal-open > .custom-pic-modal {
    /* height: 100vh; */
    overflow-y: hidden;
  }
  #custom-close-btn > div > .close {
    color: #ffffff;
    opacity: 1;
    z-index: 1000;
  }
  .custom-pic-modal {
    padding-left: 0 !important;
  }
  .row-header-desktop {
    display: inline-flex;
    float: right;
  }
  .modal-header {
    padding-bottom: 0;
    display: flex;
    align-self: unset !important;
  }
  #large-photo-desktop {
    height: 80vh;
  }
  /* .thumbnail-img-modal-desktop {
    height: 15vh;
  } */
  .custom-pic-modal > div {
    /* width: 100%; */
    max-width: unset;
    margin-top: 0;
  }
  .custom-pic-modal > div > div > div > .react-multi-carousel-list {
    overflow: unset !important;
  }
  .custom-pic-modal > div > div.modal-content {
    background: none;
    height: 100vh;
  }
  .custom-pic-modal > div > div > div > div > ul.react-multi-carousel-track {
    contain: content;
    position: fixed;
    bottom: 0;
    height: 16vh;
  }
  .custom-pic-modal
    > div
    > div
    > div
    > div
    > ul.react-multi-carousel-track
    > li.react-multi-carousel-item {
    width: 235px !important;
  }
  #thumbnail-container {
    height: 100%;
  }
  .thumbnail-img-modal-desktop {
    height: 15vh;
    width: fit-content;
    object-fit: cover;
  }
}
