.alert-success {
    color: #ffffff;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 1000;
    top: 50%;
    left: 0;
    background-color: rgba(69, 160, 84, 0.85);
}

.alert-danger {
    color: #ffffff;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 1000;
    top: 50%;
    left: 0;
    background-color: rgba(202, 78, 47, 0.85);
}