.navbar {
  background-color: rgb(58, 74, 123);
  height: 110px;
  inline-size: max-content;
  /* width: 100%; */
}

.link-container {
  display: grid;
  width: 100vw;
  height: 87vh;
  grid-template-rows: auto;
  align-items: center;
  background-color: #3a4a7b;
  padding-right: 0;
  padding-left: 0;
}

div#navbarToggleExternalContent {
  margin-right: 0;
}

.collapse {
  top: 110px;
  /* height: 100vh; */
}

.skyline {
  height: 100%;
  object-fit: cover;
}

.navbar-toggler-line1 {
  background-color: #ffffff;
  width: 35px;
  height: 5px;
  margin: 6px 0;
  border-radius: 3px;
}
.navbar-toggler-line2 {
  background-color: #ffffff;
  width: 35px;
  height: 5px;
  margin: 6px 0;
  border-radius: 3px;
}
.navbar-toggler-line3 {
  background-color: #ffffff;
  width: 35px;
  height: 5px;
  margin: 6px 0;
  border-radius: 3px;
}

.one {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.two {
  opacity: 0;
}

.three {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.dropdown-item {
  text-align: center;
  background-color: rgb(58, 74, 123);
  color: #ffffff;
  /*height: 4em;*/
  font-size: 1.5em;
  font-weight: bold;
  padding: 0;
}

.signin-link {
  font-size: unset;
}

a.dropdown-item:active {
  color: #00ffff;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: rgb(58, 74, 123);
}

.google-logout {
  width: 100%;
  justify-content: center;
}

.google-logout > span {
  color: #000000;
}

@media (min-width: 370px) {
  .navbar {
    /* inline-size: unset; */
    width: 100%;
  }
}

@media (min-width: 562px) {
  .link-container {
    height: 73vh;
  }
}

@media (min-width: 1000px) {
  .row-collapse {
    margin-left: 0;
    margin-right: 0;
  }
  .brian-name-container {
    background: linear-gradient(rgb(0, 0, 0, 1), rgba(0, 0, 0, 0.4) 100%);
    height: 15vh;
  }
  h1.landscape-brian-name {
    margin-bottom: 0;
    color: #00ffff;
    text-align: center;
    /* line-height: 2; */
    width: 100%;
    /* background: linear-gradient(rgb(0, 0, 0, 1), rgba(0, 0, 0, 0.4) 100%); */
    align-self: center;
  }
  .navbar {
    display: none;
  }
  .collapse:not(.show) {
    display: flex;
    position: sticky;
    z-index: 1080;
    top: 0;
  }
  .dropdown-item {
    background: none;
  }
  .link-container {
    background: linear-gradient(rgb(0, 0, 0, 1), rgba(0, 0, 0, 0.4) 100%);
    display: flex;
    width: 100%;
    height: 15vh;
  }
  a.dropdown-item {
    color: #afadad;
  }

  .signin-link {
    margin-top: 0;
    margin-bottom: 0;
  }

  /* a.dropdown-item:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
  } */
  .dropdown-item:focus,
  .dropdown-item:hover {
    background: unset;
    color: #ffffff;
  }

  .signin-link:focus,
  .signin-link:hover {
    background: unset;
    color: #ffffff;
  }
}
