.recent-listing-card {
  color: #ffffff;
  background-color: #676f97;
}

.recent-listing.card-header {
  background-color: #676f97;
  color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.recent-listing.card-header {
  border-bottom: none;
}

.info.btn {
  background-color: #3a4a7b;
  color: #ffffff;
  width: 50%;
}

img.card-image-top.img-fluid.cover-photo {
  object-fit: cover;
  border-radius: 0px;
}

.card.recent-listing-card.mx-3.text-center {
  border-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

div.img-hover-zoom {
  overflow: hidden;
}

img.cover-photo {
  transition: transform 1s;
}

img.cover-photo:hover {
  transform: scale(1.2);
}

.badge-price {
  background-color: #3ed43f;
}
