h4.card-title.featured-listing-address {
  letter-spacing: 1px;
}

.recent-listing.card-header.text-center.mx-3 {
  padding-bottom: 2px;
}

.recent-listing-card {
  color: #ffffff;
  background-color: #676f97;
}

.recent-listing.card-header {
  background-color: #676f97;
  color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.recent-listing.card-header {
  border-bottom: none;
}

.info.btn {
  background-color: #3a4a7b;
  color: #ffffff;
  width: 50%;
}

img.card-image-top.img-fluid.cover-photo {
  object-fit: cover;
  border-radius: 0px;
}

.card.recent-listing-card.mx-3.text-center {
  border-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

div.img-hover-zoom {
  overflow: hidden;
}

img.cover-photo {
  transition: transform 1s;
}

img.cover-photo:hover {
  transform: scale(1.2);
}

.badge-price {
  background-color: #3eb13f;
}

@media (min-width: 1000px) {
  .info.btn {
    width: 60%;
    font-size: 1em;
  }
  h4.card-title.featured-listing-address {
    font-size: 1.15em;
  }
  .featured-listing-info {
    font-size: 1em !important;
    margin-bottom: 5px;
  }
}
