.mortgage-calculator-parent {
  background: radial-gradient(
    circle at top,
    rgba(139, 197, 221, 0.25) 20%,
    #addff375 100%,
    #ffffff 100%
  );
  text-align: center;
  text-align: -webkit-center;
}

.recent-listing-parent {
  text-align: center;
  text-align: -webkit-center;
  background-color: #def0f8;
}
