/* .about.container-fluid {
background: linear-gradient(300deg,rgba(0, 0, 255, 0) 40%, #676F97),
                linear-gradient(45deg,rgba(197, 200, 230, 0) 40%, #a982ce),
                linear-gradient(180deg, rgba(16, 177, 189, 0) 40%, #9198e5);
  background: linear-gradient(300deg, rgba(0, 0, 255, 0) 50%, #90b3ff),
    linear-gradient(45deg, rgba(197, 200, 230, 0) 35%, #e4d7f1),
    linear-gradient(180deg, rgba(16, 177, 189, 0) 50%, #dee2e6);
} */

.card {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 255, 0.1);
  background-color: unset;
}

.about-card {
  box-shadow: none;
  border: none;
}

h2.about.card-title {
  font-family: freight-display-pro;
}

.about.card-body {
  /* background-color: #B8B3BE; */
  /* background: linear-gradient(268deg, rgba(255, 255, 255, 0) 10%, #ECECEC),
                linear-gradient(92deg, rgba(255, 255, 255, 0) 10%, #ECECEC),
                linear-gradient(0deg, rgba(255, 255, 255, 0) 94%, #070707); */
  margin-bottom: 0;
  color: #1f475b;
}

.about.card-title {
  color: #1f475b;
  font-family: 'Agency FB';
}

span.underline {
  color: #000000;
  background-color: #000000;
  width: 80px;
  height: 1.5px;
}

div#markup p {
  color: #1f475b;
  font-size: 1.45em;
}

@media (min-width: 768px) {
  img.brian {
    border-top-right-radius: unset;
    border-bottom-left-radius: 4px;
  }
  .about-card {
    border: none;
    box-shadow: none;
  }
  .about.card-title {
    color: #000000;
    text-align: left;
  }
  .about.card-text {
    text-align: left !important;
  }
  span.underline {
    background-color: unset;
  }
  div#markup p {
    color: #1f475b;
    color: #000000;
    font-size: 1em;
  }
}
